---
import SidebarLayout from '../layouts/SidebarLayout.astro';

const rawBase = import.meta.env.BASE_URL;
const baseUrl = rawBase.endsWith('/') ? rawBase.slice(0, -1) : rawBase;
const getLink = (path: string) => {
    const cleanPath = path.startsWith('/') ? path.slice(1) : path;
    if (cleanPath === '') return `${baseUrl}/`;
    return `${baseUrl}/${cleanPath}`;
}
---

<SidebarLayout title="Selected Publications" bannerTitle="Publications" category="publications">
    
    <h2 class="content-title">Conference & Journal Papers</h2>

    <h3 class="content-title">2026</h3>
    <h3 class="content-title">2025</h3>
    <h3 class="content-title">2024</h3>

    <hr/>

    <h2 class="content-title">Book Chapters</h2>

    <hr/>

    <h2 class="content-title">Newsletters</h2>

</SidebarLayout>
